body {
    margin: 0;
    /*font-family: 'Arial', sans-serif;*/
    /*font-family: 'Quicksand', sans-serif;*/
     
    font-family: 'Comfortaa', sans-serif;
}

nav a {
    text-decoration: none;
    color: rgb(23, 12, 12);
    font-size: 1rem;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #1f2937;
    color: rgb(28, 7, 107);
    padding: 1rem;
    text-align: center;
}
