body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

nav a:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;;
}

