nav {
    background-color: #1f2937; /* Matches bg-gray-800 */
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}


nav a {
    text-decoration: none;
    color: #333;
}

h1, p {
    text-align: center;
}