body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #1f2937;
    color: white;
    padding: 1rem;
    text-align: center;
}
